@media screen and (max-width: 500px) {
  body {
    color: white !important;
  }
  body .container {
    background-color: #333232;
  }
  body .row {
    background-color: #333232;
  }
  body .row div {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  body .row img {
    border-radius: 100%;
    width: 22rem;
    margin: 2rem 0;
  }
  body div[class*="carousel"] .carousel-indicators {
    display: none;
  }
  body div[class*="carousel"] .carousel-inner :disabled div[class$="active"] {
    display: block;
  }
  body div[class*="carousel"] .carousel-inner .item img {
    width: 100%;
    border-radius: 0;
  }
  body div[class*="carousel"] span[class*="glyphicon"] {
    display: none;
  }
  body .row:nth-child(4) {
    flex-direction: column;
  }
  body #first img {
    width: 100%;
    border-radius: 0;
  }
  body #first-info {
    margin: 0;
    display: block;
  }
  body #first-btn {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .row:nth-child(5) {
    flex-direction: column;
  }
  body #second img {
    width: 100%;
    height: 30rem;
    border-radius: 0;
    margin: 3rem 0 0;
  }
  body #second-info {
    margin: 0;
    padding: 0 2rem;
    display: block;
  }
  body #second-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  body #footer-info {
    display: flex;
    flex-direction: column;
  }
  body #footer-info ul {
    list-style: disc;
  }
  body #footer-info ul li {
    margin: 1rem 0;
  }
  body #footer-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body #footer-img img {
    width: 4rem;
    padding: 0 0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  body {
    color: white !important;
  }
  body .container {
    background-color: #333232;
  }
  body .row {
    background-color: #333232;
  }
  body .row div {
    padding: 0;
  }
  body .row img {
    border-radius: 100%;
    width: 22rem;
  }
  body div[class*="carousel"] .carousel-indicators {
    display: none;
  }
  body div[class*="carousel"] .carousel-inner :disabled div[class$="active"] {
    display: block;
  }
  body div[class*="carousel"] .carousel-inner .item img {
    width: 100%;
    border-radius: 0;
  }
  body div[class*="carousel"] span[class*="glyphicon"] {
    display: none;
  }
  body #first img {
    width: 250rem;
    border-radius: 0;
  }
  body #first-info {
    margin-left: 2rem;
  }
  body #first-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body #second img {
    width: 250rem;
    height: 30rem;
    border-radius: 0;
    margin: 3rem 0 0 0;
  }
  body #second-info {
    margin: 1rem 0 0 2rem;
    padding-right: 2rem;
  }
  body #second-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body #footer-info {
    display: flex;
    flex-direction: column;
    margin-left: -25rem;
  }
  body #footer-info ul {
    list-style: disc;
  }
  body #footer-info ul li {
    margin-bottom: 1rem;
  }
  body #footer-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body #footer-img img {
    width: 4rem;
    padding: 0 0.5rem;
  }
}
